
@using System.Globalization
@using DDM.Web.Areas.Portal.Models.Common.Modals
@using DDM.Web.Areas.Portal.Models.SalesOrders
@model CreateOrEditSalesOrderViewModel


@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSalesOrder")) : L("CreateNewSalesOrder")))

<div class="modal-body">
    <div id="SalesOrderInformationsTab">
        <form name="SalesOrderInformationsForm" role="form" novalidate class="form-validation">


        </form>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")