@using Abp.Runtime.Session
@using DDM.Web.Areas.Portal.Models.Layout
@using DDM.Web.Areas.Portal.Views.Shared.Components.PortalLogo
@model HeaderViewModel
@{
    Layout = null;
}

<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="mr-20 brand-logo">
    @await Component.InvokeAsync(typeof(PortalLogoViewComponent), new {logoSkin="dark", logoClass = "klogo-default max-h-35px"})
</a>
