@using DDM.Web.Areas.Portal.Models.Common.Modals
@model DDM.Web.Areas.Portal.Models.EntityDynamicParameters.CreateEntityDynamicParameterViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml",
    new ModalHeaderViewModel(L("AddNewEntityDynamicParameter")))

<div class="modal-body">
    <div class="form-group col-12">
        <label for="dp-create-modal-entityFullName">@L("Entity")</label>
        @Html.DropDownList("edp-create-modal-entityFullName", new SelectList(Model.AllEntities), L("SelectAnEntity"), new { @class = "form-control" })
    </div>
    <div class="form-group col-12">
        <label for="edp-create-modal-dynamicParameterId">@L("Parameter")</label>
        @Html.DropDownList("edp-create-modal-dynamicParameterId", new SelectList(Model.DynamicParameters, "Id", "ParameterName"), L("SelectADynamicParameter"), new { @class = "form-control" })
    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")