
@model DDM.SalesInvoiceAdditionalCosts.Dtos.SalesInvoiceAdditionalCostDto


<div class="row addCost-set">
    @Html.HiddenFor(m => m.Id, new { @class = "line-id" })
    @Html.HiddenFor(m => m.MarkForDelete, new { @class = "mark-for-delete" })

    <div class="col-3">
        <div class="form-group">
            <label for="m.Name">@L("Name")</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control m-input" })
            <span class="form-text text-muted">Nama barang</span>
        </div>
    </div>



</div>
